#loginBG{
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 30vh;
    justify-content: space-around;
    border-radius: 10%;
}
label{
    color: black;
}
#loginBG>div{
    display: flex;
    flex-direction: column;
    padding: 10px;
}
button{
    border-radius: 0%;
}
#login{
    width: 80%;
    margin: auto;
}

#login:hover{
    background-color: #FF810A;
}
#upper{
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 1% 2%;
    background-color: white;
    color: black;
    border-bottom-right-radius: 4mm;
    width: 20vw;
}
#upper:hover{
    background-color: #FF810A;
}