#signup{
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    padding: 20px;
    height: 80vh;
    overflow: scroll;
}
p{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
p>div{
    display: flex;
    flex-direction: column;
}
