/*html, body, div, main, 
h1, h2, h3, h4, h5, h6, p, a, img, 
ul, li, form, label,
article, figure, figcaption, footer, 
header, nav, section, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, figcaption, figure, 
footer, header, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ul {
	list-style: none;
}
*/